.search-result__btn-more {
  margin-top: 56px;
}


@media (min-width: 320px) and (max-width: 767px) {
  .search-result__btn-more {
    margin-top: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .search-result__btn-more {
    margin-top: 22px;
  }
}
