@import '/_center/text_center.css';

.text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  color: #000000;
}

.text a {
  text-decoration: none;
  color: #18A0FB;
}
