<div class="dialog dialog_style-dark">
  <div class="dialog__content dialog__content_border-bottom">
    <div class="dialog__header">
      <h3>NewsExplorer</h3>
      <i class="dialog__close icon_close-white"></i>
    </div>
    <div class="dialog__body">
      <ul class="header__menu">
        <li>Главная</li>
        <li>О проектк</li>
        <li>Сохраненные статьи</li>
        <li> <button class="btn btn_rad-80 btn_brd-1 btn_style-snow btn_size-s full transparent" onclick="Dialog.toggle('dialog_signin')">Выход</button></li>
      </ul>
    </div>
  </div>
</div>
