<div class="dialog dialog_style_dark">
  <div class="dialog__content dialog__content_border_bottom">
    <div class="dialog__header">
      <h3>NewsExplorer</h3>
      <i class="dialog__close icon icon_size_24 icon_close_white"></i>
    </div>
    <div class="dialog__body">
      <ul class="header__menu">
        <li>Главная</li>
        <li>О проектк</li>
        <li>Сохраненные статьи</li>
        <li> <button class="btn btn_rad_80 btn_brd_1 btn_style_snow btn_size_s btn_size_full btn_transparent" onclick="Dialog.toggle('dialog_signin')">Вход</button></li>
      </ul>
    </div>
  </div>
</div>
