.dialog__header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 34px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
}

.dialog__header > h1, h2, h3, h4, h5, p, span, div {
  margin: 0;
  padding: 0;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .dialog__header {
    font-family: Roboto Slab, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
  }
}
