@import '_border/header__nav_border.css';

.header__nav {
  vertical-align: middle;
  height: 80px;
}

.header__nav > .nav__item {
  margin-right: 34px;
}

.header__nav > .nav__item:first-child {
  margin-left: 104px;
}

.header__nav > .nav__item:last-child {
  margin-right: 104px;
}

.header__nav > .header__menu-button {
  margin-left: auto;
  display: none;
}

@media (min-width: 320px) and (max-width: 767px) {
  .header__nav {
    height: 56px;
  }

  .header__nav > .nav__item:first-child {
    margin-left: 16px;
  }

  .header__nav > .nav__item:last-child {
    margin-right: 20px;
  }

  /* hide all items except first one */
  .header .nav .nav__item:not(:first-child) {
    display: none;
  }

  .header__nav > .header__menu-button {
    display: inline-block;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .header__nav > .nav__item {
    margin-right: 16px;
  }

  .header__nav > .nav__item:first-child {
    margin-left: 40px;
  }

  .header__nav > .nav__item:last-child {
    margin-right: 40px;
  }
}
