.tech__title {
  font-family: Roboto Slab, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
  width: 344px;
  padding-right: 290px;
  padding-left: 104px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .tech__title {
    font-size: 30px;
    line-height: 40px;
    padding-bottom: 40px;
    width: 150px;
    padding-right: 0;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .tech__title {
    font-size: 30px;
    line-height: 34px;
    width: 336px;
    padding-bottom: 40px;
    padding-left: 40px;
  }
}
