.search-result__card {
  background-color: white;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  padding: 20px 24px 24px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .search-result__card {
    margin-bottom: 10px;
  }
}
