.search-result__card-footer {
  height: 40px;
  margin-top: -55px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .search-result__card-footer {
    margin-bottom: 28px;
  }
}
