@import './__info/about__info.css';
@import './__text/about__text.css';
@import './__avatar/about__avatar.css';

.about {
  width: 100%;
}

@media (min-width: 320px) and (max-width: 767px) {
  .about .card {
    flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .about .card {
    flex-direction: row;
  }
}
