@import '../__item_hoverable/nav__item_hoverable.css';
@import '../__item_selected/nav__item_selected.css';
@import './_pull-right/nav__item_pull-right.css';

.nav__item {
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  font-family: var(--primary-font-family);
  font-style: var(--primary-font-style);
  font-weight: 500;
  border: 1px solid red;
}

.nav__item a {
  color: white;
  text-align: center;
  text-decoration: none;
}

/* padding: 30px 17px 23px; */
