.nav_style_dark  a {
  color: #1A1B22;
}

.nav_style_light a {
  color: white;
}

.nav_style_smoke a {
  color: #B6BCBF;
}


.nav_style_light .nav__item_selected a {
  box-shadow: inset 0 -4px 0 0 white;
  padding-bottom: 29px;
}

.nav_style_dark .nav__item_selected a {
  box-shadow: inset 0 -4px 0 0 black;
  padding-bottom: 29px;
}
