<div class="dialog dialog_style-white dialog_align-center">
  <div class="dialog__content dialog__content_border-full dialog-width">
    <div class="dialog__header">
      <h3>Sign up</h3>
      <i class="dialog__close icon_close-black"></i>
    </div>
    <div class="dialog__body">
      <form class="form">
        <label for="signup_email">Email</label>
        <input id="signup_email" type="text" class="textfield textfield_size-s textfield_brd-b" placeholder="Email">
        <label for="signup_password">Password</label>
        <input id="signup_password" type="password" class="textfield textfield_size-s textfield_brd-b" placeholder="Password">
        <label for="signup_name">Name</label>
        <input id="signup_name" type="text" class="textfield textfield_size-s textfield_brd-b" placeholder="Name">
        <button class="btn btn_brd-none btn_style-primary btn_size-s btn_rad-100 full center">Зарегистрироваться</button>
      </form>
    </div>
    <div class="dialog__footer">
      <span class="center">или <a href="#" onclick="Dialog.toggle('dialog_signin')">войти</a></span>
    </div>
  </div>
</div>
