@import './__button/search__button.css';
@import './__textbox/search__textbox.css';

.search {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .search {
    flex-direction: column;
  }
}
