.search-result__container {
  padding-top: 80px;
  padding-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  width: 1232px;
  text-align: center;
}

.search-result__container h2,h3,h4,h5 {
  text-align: left;
}


@media only screen and (max-width: 600px) {
  .search-result__container {
    width: 288px;
  }
}

@media only screen and (max-width: 768px) {
  .search-result__container {
    width: 688px;
  }
}
