.footer__social {
  margin-right: 100px;
}

.footer__social .nav__item:not(:last-child) {
  margin-right: 27px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .footer__social {
    margin-right: 18px;
  }

  .footer__social .nav {
    flex-direction: row;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .footer__social {
    margin-right: 42px;
  }
}
